@model StockImage.Web.BindingModels.CommentCreateBindingModel

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1 class="text-center">Add Comment</h1>
<hr class="mt-4 mb-4" />
<form class="mx-auto w-50" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="@Model.Title" class="text-torshia">Title</label>
        <input type="text"
               class="form-control"
               id="username"
               asp-for="@Model.Title">
        <span asp-validation-for="@Model.Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Content" class="text-torshia">Content</label>
        <input type="text"
               class="form-control"
               asp-for="@Model.Content">
        <span asp-validation-for="@Model.Content" class="text-danger"></span>
    </div>
    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn bg-dark text-white">Submit</button>
    </div>
</form>

